{% extends "base.html" %}

{% block head_title %}Verifikasi OTP{% endblock %}

{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h2 style="text-align: center;">Masukkan Kode OTP</h2>
        <p>Kami telah mengirimkan kode verifikasi ke nomor telepon Anda. Silakan masukkan di bawah ini.</p>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="otp">Kode OTP:</label>
                <input type="text" name="otp" id="otp" class="form-control" required maxlength="6" placeholder="_ _ _ _ _ _">
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-100">Verifikasi</button>
        </form>
    </div>
</div>
{% endblock %}